.header {
    background: $header-bg;
    color: $header-color;
}

.header-content {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    margin: 0 auto;
    padding: $space;
    max-width: $site-max-width;
}

.header-title {
    margin: 0;
}

.header-nav-toggle {
    cursor: pointer;
    height: 2rem;
    width: 2rem;

    @include desktop {
        display: none;
    }
}