// Item List
.item-list {
    background-color: $white;
    border: solid 1px $grey;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.item-list-header {
    display: flex;
    flex-direction: column;
    padding: $space;
}

// Item
.item {
    border-left: solid $item-border-width transparent;
    cursor: pointer;
    padding: $space;
    transition: background-color .3s ease, border-left .3s ease;
}

.item:hover {
    background-color: $light-grey;
    border-left: solid $item-border-width $grey;
}

.item-selected, .item-selected:hover {
    background-color: $light-grey;
    border-left: solid $item-border-width $brand-primary;
}

.item-title {
    font-weight: normal;
    font-size: $base-font-size;
    margin-bottom: .4rem;
}

.item-selected .item-title {
    font-weight: bold;
}

.item-subtitle {
    color: $dark-grey;
    margin: 0;
}

// Empty Item
.empty-item {
    font-style: italic;
    padding: $space;
    text-align: center;
}